/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #d5d1ea;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    width: 870px;
    /* height: 680px; */
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

/* top players style */
.top-players {
    margin-bottom: 22px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* hr style */
hr {
    border: 1ps solid #D1D1D1;
    margin-bottom: 27px;
}

/* -----Top blog Styles------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog-inf0 {
    margin-left: 10px;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* Courses style */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;

}

.course {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(115, 113, 113);
    margin-left: 24px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}


.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-duration {
    background-color: #FFE4E8;
    border-radius: 10px;
    color: #FF4A60;
}

/* ------------media queries---------- */


/* mobile device */
@media screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    .container img {
        width: 100%;
    }

    .blog .thumbnail img {
        width: 100%;
    }

    .course .course-banner img {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {

        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }
}

/* tablet device */
@media only screen and (min-width:688px) and (max-width : 992px) {

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

}